# Byte-compiled / optimized / DLL files
__pycache__/

# PyCharm
.idea/

# Environments
.env
venv/

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# App stuff:
Rostifile
.rosti.state