asgiref==3.8.1
beautifulsoup4>=4.14.3,<5.0
crispy-bootstrap5==2024.10
Django>=5.0,<6.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-filter==25.1
django_debug_toolbar==5.0.1
django-tables2==2.7.5
python-decouple==3.8
requests>=2.32,<3.0
sqlparse==0.5.5