{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <div class="webb-path p-3 pb-md-4 mx-auto text-center">

      <div class="marquee">
        <div class="top-targets">
          <span>🪐</span>
          <span>🌠</span>
          <span>🎇</span>
        </div>
        <div class="bottom-targets">
          <span>🌌</span>
          <span>🌑</span>
          <span>☄️</span>
        </div>
      </div>
      <img src="{% static 'img/webb.svg' %}" alt="Webb Icon" width="140px;" height="140px;"/>

      <div class="moving-path-wrapper">
          <div class="moving-path" style="float: left;">
              <div class="progress">
                  <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
          <div class="moving-path" style="float: right;">
              <div class="progress">
                  <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
      </div>
    </div>

    <br><br>
    <p class="fs-5 text-muted text-center">Webb is observing..</p>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% include "target_card.html" with target=prev_target status='previous' %}
      {% include "target_card.html" with target=current_target status='current' %}
      {% include "target_card.html" with target=next_target status='next' %}
    </div>
  </main>
{% endblock %}