{% extends 'base.html' %}
{% load static %}

{% block title %}Statistics{% endblock %}


{% block content %}

  <h2 class="my-5 text-center">Statistics on the time spent observing by</h2>

  <div class="row row-cols-1 row-cols-lg-2">

    <div class="col">
      <div class="chart-card py-3">
        <h5 class="mb-4 text-center">Category</h5>
        <canvas id="chart-category" class="px-2"></canvas>
      </div>
    </div>

    <div class="col">
      <div class="chart-card py-3">
        <h5 class="mb-4 text-center">Solar System</h5>
        <canvas id="chart-solar-system" class="px-2"></canvas>
      </div>
    </div>

  </div>

{% endblock %}


{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    function drawChart(ctx, labels, subLabels, data) {
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'The time spent in days',
            data: data,
            borderWidth: 1,
            backgroundColor: 'rgba(255, 193, 7, 0.1)',
            borderColor: 'rgba(255, 193, 7, 1)'
          }]
        },
        options: {
          indexAxis: 'y',
          responsive: true,
          plugins: {
            tooltip: {
              displayColors: false,
              callbacks: {
                label: function(context) {
                  const subLabelList = subLabels;
                  return subLabelList[context.dataIndex];
                }
              }
            }
          }
        }
      });
    }

    drawChart(
      document.getElementById('chart-category'),
      [{%for category in chart_categories.labels %}'{{ category.name }}',{% endfor %}],
      [{%for category in chart_categories.labels %}'{{ category.total_duration }}',{% endfor %}],
      [{%for duration in chart_categories.data %}'{{ duration }}',{% endfor %}]
    )

    drawChart(
      document.getElementById('chart-solar-system'),
      [{%for solsys in chart_solarsystem.labels %}'{{ solsys.keywords }}',{% endfor %}],
      [{%for solsys in chart_solarsystem.labels %}'{{ solsys.total_duration }}',{% endfor %}],
      [{%for duration in chart_solarsystem.data %}'{{ duration }}',{% endfor %}]
    )
  </script>
{% endblock %}
