{% extends 'base.html' %}

{% block content %}
    <h1 class="my-5 text-center">Report List</h1>

    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <table class="table table-sm table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="p-2">File Name</th>
                      <th scope="col" class="p-2">Number of Visits</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for report in report_list %}
                        <tr>
                          <td class="p-2">{{ report.file_name }}</td>
                          <td class="p-2">
                              {% if report.total_number > 0 %}
                                {{ report.total_number }}
                              {% else %}
                                <span class="badge bg-danger">Empty!</span>
                              {% endif %}
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}