{% extends 'base.html' %}
{% load static %}

{% block title %}Statistics{% endblock %}


{% block headscript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/statistics.js' %}"></script>
{% endblock %}


{% block content %}
  <h2 class="my-5 text-center">Statistics on the time spent observing</h2>

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col my-3">
      <div class="chart-card py-3">
        <h5 class="mb-4 text-center">Category</h5>
        <canvas id="chart-category" class="px-2"></canvas>
      </div>
    </div>
    <div class="col my-3">
      <div class="chart-card py-3">
        <h5 class="mb-4 text-center">Instrument</h5>
        <canvas id="chart-instrument" class="px-2"></canvas>
      </div>
    </div>
    <div class="col my-3">
      <div class="chart-card py-3">
        <h5 class="mb-4 text-center">Solar System</h5>
        <canvas id="chart-solar-system" class="px-2"></canvas>
      </div>
    </div>
    <div class="col my-3">
      <div class="chart-card py-3">
        <h5 class="mb-4 text-center">Planet</h5>
        <canvas id="chart-planet" class="px-2"></canvas>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  <script>
    $(document).ready(function() {
      loadChart(categoryDurationChart, '{% url 'chart_category_duration' %}');
      loadChart(instrumentDurationChart, '{% url 'chart_instrument_duration' %}');
      loadChart(solarSystemDurationChart, '{% url 'chart_solarsystem_duration' %}');
      loadChart(planetDurationChart, '{% url 'chart_planet_duration' %}');
    });

    var categoryDurationCtx = document.getElementById('chart-category');
    var categoryDurationChart = new Chart(categoryDurationCtx, {type: 'bar'});

    var instrumentDurationCtx = document.getElementById('chart-instrument');
    var instrumentDurationChart = new Chart(instrumentDurationCtx, {type: 'bar'});

    var solarSystemDurationCtx = document.getElementById('chart-solar-system');
    var solarSystemDurationChart = new Chart(solarSystemDurationCtx, {type: 'bar'});

    var planetDurationCtx = document.getElementById('chart-planet');
    var planetDurationChart = new Chart(planetDurationCtx, {type: 'bar'});
  </script>
{% endblock %}
